<a href="https://colab.research.google.com/github/Solomon40/Hamoye/blob/master/Stage_B_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
%%html

<marquee style='color: green; width: 50%;'>Welcome to my awesome Regression notebook for Hamoye Stage B. I'm learning a lot !</marquee>

## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

## Preprocess data

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'

In [4]:
df = pd.read_csv(url)
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

## Question 12
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [21]:
#first normalise the data to a common scale using the Min Max Scalar
scalar = MinMaxScaler()
normalised_df = pd.DataFrame(scalar.fit_transform(df.drop(columns=['date'])), columns=df.columns.drop('date'))

In [22]:
normalised_df.head()

   Appliances    lights       T1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.428571  0.32735  ...   0.538462  0.265449  0.265449
1    0.046729  0.428571  0.32735  ...   0.533937  0.372083  0.372083
2    0.037383  0.428571  0.32735  ...   0.529412  0.572848  0.572848
3    0.037383  0.571429  0.32735  ...   0.524887  0.908261  0.908261
4    0.046729  0.571429  0.32735  ...   0.520362  0.201611  0.201611

[5 rows x 28 columns]

In [30]:
#select features and label
features_df = np.array(normalised_df['T2']).reshape(-1, 1) #reshape is necessary since we have only one feature (1D array)
temp_target = normalised_df['T6']

In [31]:
#split dataset into training and testing

X_train, X_test, y_train, y_test = train_test_split(features_df, temp_target, test_size=0.3, random_state=1)

In [32]:
#select model and fit to training dataset (train the model)
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

predicted_values = linear_model.predict(X_test)

In [33]:
r2_score = r2_score(y_test, predicted_values) #same as Coefficient of Determination
round(r2_score, 2)

0.65

In [34]:
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [35]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

65.44

In [36]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.105

## Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?